<!DOCTYPE html>
<html>
<title>Secure Poker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) 
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a class="w3-button w3-block w3-black">HOME</a>
    </div>
  </div>
</div>-->


<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">POKER</span></h5>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>Join Room </i></p>
    </div>
    <div class="w3-panel w3-leftbar w3-light-grey">
        <p>Room 1 &nbsp&nbsp&nbsp&nbsp<%= occup %>/2</p>
        <form action="<%= room %>">
          <input type="radio" name="select" value="dsa">DSA<br>
          <input type="radio" name="select" value="rsa">RSA<br>
          <input type="submit" value="join">
        </form>
    </div>
  </div>
</div>
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by tears</p>
</footer>
</body>
</html>